*{
    box-sizing: border-box;
}
.b-t{
    border-top: solid 1px #333;
}
.b-l{
    border-left: solid 1px #333;
}
.b-r{
    border-right: solid 1px #333;
}
.b-b{
    border-bottom: solid 1px #333;
}
.b-lx{
    border-left: solid 1px #333;
    transform: rotate(-20deg);
}
.b-rx{
    border-right: solid 1px #333;
    transform: rotate(-20deg);
}
body{
    position: relative;
}
.red{
    color : red;
}
.container{
    width: 500px;
    height: 500px;
    margin: 75px auto;
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
/*    align-items: center;*/
/*    background: aqua;*/
}
.container div{
    padding: 1rem;
    justify-content: center;
}
.o{
    width: 70%;
    height : 70%;
    border-radius: 50%;
    border: solid 5px red;
    animation: opacity-animator 3s 1;
}
.x{
    animation: opacity-animator 3s 1;
/*    background: aqua;*/
}
#box1,#box2,#box3,#box4,#box5,#box6,#box7,#box8,#box9{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

/*    position: relative;*/
}
.x::before,.x::after{
    content: "";
    width: 5px;
    height: 100px;
    display: inline-block;
    background: red;
/*    border:  solid 1px #000;*/
/*    position: absolute;*/
}


.x::after{
    transform: rotate(-45deg);
}
.x::before{
    transform: rotate(45deg);
}
@media(max-width:600px){
    .container{
        width: 450px;
        height: 450px;
    }
}

@keyframes opacity-animator{
    from{
        opacity: .1;
    }
    to{
        opacity: 1;
    }
}